.single_product {
	position: relative;
}
.single_product .badge {
	position: absolute;
	top: 10px;
	right: 10px;
	border-radius: 3px !important;
}
.ratings ion-icon {
	color: orange;
}
.d-flex icon{
	margin-top:5px;
}
